<section class="container">
  <header class="header d-flx">
    <h2 class="ff-inter">Menu Mural</h2>
    <br><br>
    <button routerLink="/criarPensamento" class="botao">Adicionar
      pensamento</button>
  </header>
  <div class="mural" *ngIf="listasPensamento.length > 0, else semPensamentos">
    <div *ngFor="let pensamento of listasPensamento">
      <app-pensamentos [pensamento]="pensamento"></app-pensamentos>
    </div>
  </div>
</section>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
